main{
    margin-top: 137px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    &::after{
        content: '';
        display: block;clear: both;
    }
}

.sc-info{
    position: relative;
    margin-bottom: 100px;
    .bg-area{
        position: relative;
        left: 0;top: 0;
        width: 100%;
        .bg-image{
            position: relative;
            width: 100%;
            .image{
                position: relative;
                z-index: 2;
                width: 43%;
                margin-left: 40%;
                overflow: hidden;
                img{
                    transform: scale(1.2);
                }
            }
        }
        .bg-title{
            position: relative;
            z-index: 2;
            padding-left: 20%;
            margin-top: -21vw;
            font-size: 7vw;
            line-height: 1.3;
            display: inline-block;
            .char{
                transform: translate(0, 100%);
                opacity: 0;
            }
        }
        .bg{
            display: inline-block;
            position: absolute;
            right: 0;top: 0;
            z-index: 1;
            width: 43%;height: 100%;
            // margin-left: 10%;
            margin: 0 17% 0 auto;
            background-color: #6D9886;
        }
    }
    .cont-area{
        position: relative;
        top: -20%;
        margin-top: -100px;
        margin: 0 0 0 40%;
        padding: 0 18%;
        .badge{
            font-size: 20px;
            letter-spacing: .1em;
            line-height: 1.5;
            .char{
                transform: translate(0, 100%);
                opacity: 0;
            }
        }
        .sub-title{
            display: block;
            margin-top: 24px;
            font-size: 30px;
            letter-spacing: .1em;
            line-height: 36px;
            white-space: nowrap;
            transform: translate(0, 100%);
            opacity: 0;
            .bold{font-size: 35px;}
        }
        .desc{
            margin-top: 30px;
            font-size: 15px;
            line-height: 30px;
            letter-spacing: .2em;
            font-weight: 400;
            white-space: nowrap;
            transform: translate(0, 100%);
            opacity: 0;
        }
        .link-detail{
            position: relative;
            transform: translate(0, 100%);
            opacity: 0;
        }
    }
}

.sc-goods{
    // margin: 150px 18% 0;
    // width: auto;
    height: 100vh;
    position: relative;
    // display: flex;flex-direction: column;
    .badge{
        margin: 50px 18% 0;
        display: block;
        font-size: 20px;
        letter-spacing: .1em;
        line-height: 1.5;
        margin-bottom: 20px;
        .char{
            transform: translate(0, 100%);
            opacity: 0;
        }
    }
    .slide-tit{
        margin: 0 18%;
        height: 100px;
        transform: translate(0, 100%);
        opacity: 0;
        .slide01{
            height: 100%;
            .swiper-wrapper{
                .swiper-slide{display: flex;height: auto;}
            }
        }
        h3{
            display: inline-block;
            height: 75px;
            line-height: 75px;
            font-size: 50px;padding-left: 65px;
            background: url(/asset/images/logo/sc-goods-barma.png) 0 10px no-repeat;
            background-size: 50px 50px;
        }
    }
    .slide-txt{
        width: 100%;height: 10vw;
        position: absolute;
        left: 0;top: 50%;
        // background-color: #f00;
        transform: translate(0, 100%);
        opacity: 0;
        .slide02{
            height: 100%;
        }
        .txt-wrap{
            width: 200%;
            // position: absolute;
            overflow: hidden;
            height: 10vw;
            // background-color: #00f;
            animation: marquee 30s linear infinite;
            span{
                float: left;width: 50%;
                font-size: 10vw;
            }
        }
        
    }
    .slide-img{
        width: 100%;height: 70%;
        padding: 30px 0 0;
        box-sizing: border-box;
        opacity: 0;
        display: flex;justify-content: center;
        .slide03{
            width: 34%;height: 100%;
        }
        .swiper-slide{
            width: 100%;height: 100%;
            img{
                height: auto;
                transform-origin: 0 100%;
            }
            &.slide-item01{
                img{margin-top: -10%;}
            }
            &.slide-item02{
                img{margin-top: -35%;}
            }
            &.slide-item03{
                img{margin-top: -14%;}
            }
            &.slide-item04{
                img{margin-top: -3%;}
            }
            &.slide-item05{
                img{
                    width: 105%;
                    margin-top: 0%;
                }
            }
        }
    }
    .swiper-pagination{
        left: 72%;top: 35%;
        transform-origin: 0 0;
        transform: rotate(270deg);
        span.swiper-pagination-bullet{
            // display: inline-block;
            width: 8px;height: 8px;
            margin: 30px 0;
            &.swiper-pagination-bullet-active{
                background-color: #333;
            }
        }
    }
    .link-detail{
        left: 18%;top: 37%;
    }
}

.sc-collection{
    padding: 211px 18% 0;
    .cont-area{
        margin-top: 26px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;
        position: relative;
        flex: 1;
        .image-box{
            width: 31%;
            position: relative;
            -webkit-box-direction: normal;
            opacity: 0;
            &.box01{margin-top: 5%;}
            &.box02{
                margin: 12% 0 0 3%;
            }
            &.box03{
                margin-left: 3.2%;
            }
            &.box04{
                margin: 12% 0 0 24%;
            }
            &.box05{
                margin: 6.5% 0 0 3.1%;
            }
        }
        .img-title{
            position: absolute;
            left: 30px;top: 0;
            display: flex;
            transform-origin: 0 0;
            transform: rotate(90deg);
            // writing-mode: ;
            .en{
                margin-left: 50px;
                .small{
                    margin-right: 5px;
                    font-size: 12px;
                }
            }
        }
        .image{
            position: relative;
            right: 0;top: 0;
            padding-left: 36px;
            .caption{
                position: absolute;
                left: 36px;top: 0;
                width: calc(100% - 36px);height: 100%;
                // text-align: center;
                &::before{
                    content: '';
                    position: absolute;
                    left: 0;top: 0;
                    width: 100%;height: 100%;
                    background-color: rgba(0, 0, 0, .4);
                    opacity: 0;
                    transition: opacity .6s ease-in-out;
                }
                .cap-txt{
                    position: absolute;
                    top: 50%;
                    width: 100%;height: 20px;
                    transform: translateY(-50%);
                    line-height: 20px;
                    // background-color: #ccc;
                    overflow: hidden;
                    text-align: center;
                    span{
                        display: inline-block;
                        font-size: 15px;
                        transform: translate(0, 100%);
                        // visibility: hidden;
                        // opacity: 0;
                        transition: all .8s .1s;
                        color: #fff;
                    }
                }
            }
            &:hover{
                .caption{
                    &::before{
                        opacity: 1;
                    }
                    .cap-txt{
                        span{
                            transform: translate(0, 0);
                            // visibility: visible;
                            // opacity: 1;
                        }
                    }
                }
            }
        }
        .link-detail{
            left: 5%;bottom: 15%;
            transform: translate(0, 100%);
            opacity: 0;
        }
    }
}

.sc-news{
    margin: 218px 18% 100px;
    width: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    .title{
        width: 27%;height: 80px;
        .char{
            transform: translate(0, 100%);
            opacity: 0;
        }
    }
    .cont-area{
        width: 73%;
        position: relative;
        .cont-list{
            display: flex;flex-direction: column;
            // border-top: 1px solid #000;
            
            .cont-item{
                padding: 34px 0 40px;
                // border-bottom: 1px solid #000;
                background-color: #F6F6F6;
                transition: background .5s ease-in-out;
                position: relative;
                overflow: hidden;
                a{
                    transform: translate(0, 100%);
                    opacity: 0;
                    display: flex;
                    justify-content: start;
                    width: 100%;
                    transition: all .5s ease-in-out;
                    .date{
                        width: 172px;
                        line-height: 1.9;
                    }
                    .news-cont{
                        width: calc(100% - 172px);
                        padding: 0 40px 0 0;
                        font-size: 18px;
                        line-height: 1.57143;
                        letter-spacing: .1em;
                    }
                }
                &:hover{
                    background-color: rgba(109, 152, 134, .2);
                    a{
                        margin-left: 30px;
                        // color: #d9cab3;
                    }
                    .bd-top{background-color: #6D9886;}
                    .bd-bottom{background-color: #6D9886;}
                }
                .bd-top{
                    position: absolute;
                    left: 0;top: 0;
                    z-index: 1;
                    opacity: 0;
                    width: 100%;height: 1px;
                    background-color: #000;
                    transform: translate(-100%, 0);
                    transition: all .5s;
                }
                .bd-bottom{
                    position: absolute;
                    left: 0;bottom: 0;
                    opacity: 0;
                    width: 100%;height: 1px;
                    background-color: #000;
                    transform: translate(-100%, 0);
                    transition: all .5s .05s;
                }
            }
        }
    }
    .link-detail{
        right: 0;bottom: -20%;
        transform: translate(0, 100%);
        opacity: 0;
    }
}

.sub-area{
    padding: 132px 18% 219px;
    display: flex;justify-content: space-between;
    &>section{
        padding: 0 40px 0 70px;
        position: relative;
        box-sizing: border-box;
        width: 50%;
        .side-bar{
            position: absolute;left: 0;top: 0;
            display: inline-block;
            width: 1px;height: 100%;
            background-color: rgba(0, 0, 0, .3);
            transform-origin: 50% 100%;
            transform: scale(1, 0);
        }
        &:hover{
            .bg-img{
                &::after{
                    width: 0;
                    z-index: 2;
                    transition: z-index 0s, width .5s .3s;
                }
                img{visibility: visible;}
            }
        }
        &.leave{
            .bg-img{
                &::before{
                    width: 100%;
                }
            }
        }
    }
    .sub-cont{
        margin-top: 35px;
        line-height: 25px;
        font-size: 15px;
        letter-spacing: .2em;
        transform: translate(0, 100%);
        opacity: 0;
    }
    .link-more{
        position: relative;
        display: inline-block;
        width: 73px;height: 73px;
        border: 1px solid #000;
        border-radius: 50%;
        margin-top: 50px;
        overflow: hidden;
        &::before{
            content: '';
            position: absolute;
            left: 50%;top: 50%;
            transform: $tl-center;
            display: inline-block;
            width: 24px;height: 24px;
            background: url(/asset/images/btn/right-arrow.png) center no-repeat;
            background-size: cover;
            opacity: 1;
            transition: .5s;
        }
        &::after{
            content: '';
            position: absolute;
            left: -50%;top: 50%;
            transform: $tl-center;
            display: inline-block;
            width: 24px;height: 24px;
            background: url(/asset/images/btn/right-arrow.png) center no-repeat;
            background-size: cover;
            transition: .5s;
        }
        &.move{
            &::before{
                left: 100%;
                opacity: 0;
            }
            &::after{
                left: 50%;
            }
        }
    }
    .bg-img{
        position: absolute;
        left: 30%;bottom: -15%;
        width: 40%;height: auto;
        background: #F6F6F6;
        overflow: hidden;
        &::before{
            content: '';
            position: absolute;
            z-index: 1;
            left: 0;top: 0;
            width: 0;
            height: 100%;
            transition: .5s;
            background-color: #F6F6F6;
        }
        &::after{
            content: '';
            position: absolute;
            right: 0;top: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background-color: #F6F6F6;
        }
        img{
            transition: .5s;
            visibility: hidden;
        }
    }
}
.sc-company{
    width: calc(50% - 110px);
    // width: 50%;
}
.sc-store{
    width: calc(50% - 110px);
}

.contact-area{
    padding: 140px 20% 185px;
    
    h2{
        font-size: 50px;
        letter-spacing: .1em;
        text-align: center;
        line-height: 1.5;
        
        .underline{
            padding: 50px 0;
            &::before{
                height: 2px;
                bottom: 50px;
            }
            .char{
                transform: translate(0, 100%);
                opacity: 0;
            }
        }
    }
}
